.Chart{
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 10px 19px 1px rgba(0,0,0,0.23);
    -webkit-box-shadow: 10px 10px 19px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 10px 10px 19px 1px rgba(0,0,0,0.23);
    background: rgb(255,255,255);
    border-radius: 10px;
}
.chartTitle{
    margin-bottom: 20px;
    color: #555;
}
